<header>
  <a href="/tasks">
    <img id="logo" src="/images/Smart_To_Do.png" width="200" height="100">
  </a>
  <div class="category">
    <form id="categoryForm">
      <input type="text" id="word" name="word" required placeholder="New Task"></input>
      <button id="submit-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      <div class="spinner"><i class="fa-solid fa-magnifying-glass fa-beat-fade " style="color: #a35700;"></i></div>
    </form>
    <p id="categoryResult" style="color: greenyellow;"></p>
  </div>
  <div id="user-info">
    <a href="/update" id="info-icon">
      <i class="fa-solid fa-user fa-2xl" style="color: #e82929;"></i>
      <%= info.name %>
    </a>
    <form action="/logout" class="logout-btn" method="POST">
      <button type="submit" class="btn btn-primary btn-sm">LOGOUT</button>
    </form>
  </div>
</header>
