<header>
  image
  <form id="categoryForm">
    <input type="text" id="word" name="word" required placeholder="New Task">
    &nbsp
    <button id="submit-button" type="submit">Categorize</button>
    <!-- <i id="loading-icon" class="fa-solid fa-spinner fa-spin-pulse" style="color: #f60909;"></i> -->
    <i id="loading-icon"class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg" style="color: #a35700;"></i>
  </form>
  <!-- <i id="loading-icon"class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg" style="color: #a35700;"></i> -->
  <p id="categoryResult" style="color: greenyellow;"></p>
</header>
