<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/editProfile.css" type="text/css" />
</head>
<body>
    <header>
    </header>
    <div class="user-profile-container rounded bg-white mt-5">
        <div class="row">
            <div class="user-profile-sidebar col-md-4 border-right">
                <div class="profile-info-container d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="profile-image rounded-circle mt-5"
                        src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" width="90">
                    <span class="profile-name font-weight-bold">user1</span>
                    <span class="profile-email text-black-50">user1@gmail.com</span>
                </div>
            </div>
            <div class="user-input-fields">
                <div class="user-info">
                    <div class="user-username">
                        <div class="user-info-row username">
                            <div class="user-info-col col-md-6"><input type="text" class="user-input-field"
                                    placeholder="Username">
                            </div>
                        </div>
                        <div class="user-info-row new-username">
                            <div class="user-info-col col-md-6"><input type="text" class="user-input-field"
                                    placeholder="New Username">
                            </div>
                        </div>
                    </div>
                    <div class="user-password">
                        <div class="user-info-row password">
                            <div class="user-info-col col-md-6"><input type="text" class="user-input-field"
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="user-info-row new-password">
                            <div class="user-info-col col-md-6"><input type="text" class="user-input-field"
                                    placeholder="New Password">
                            </div>
                        </div>
                    </div>
                    <div class="user-email">
                        <div class="user-info-row email">
                            <div class="user-info-col col-md-6"><input type="text" class="user-input-field"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="user-info-row new-email">
                            <div class="user-info-col col-md-6"><input type="text" class="user-input-field"
                                    placeholder="New Email">
                            </div>
                        </div>
                    </div>
                    <div class="profile-button-container text-right"><button class="profile-save-button btn btn-primary"
                            type="button">Save Profile</button></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>