<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>



  <header>
    <nav class="nav">

         <button><a href="/">HOME</a></button>
         <button>PROFILE</button>
         <button>TO READ</button>
         <button>TO WATCH</button>
         <button>TO EAT</button>
         <button>TO BUY</button>
         <button>MISCELLANEOUS</button>

      </nav>
    <h1>Smart To-Do App</h1>
    <h2>To Do: Plan like a boss</h2>

  </header>


</body>

</html>
