<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/homepage.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>

  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="nav">
      <h2>Smart To-Do List</h2>
      <h1>
        <button><a href="/login" class="nav-button">LOGIN</a></button>
        <!-- <button><a href="/register" class="nav-button">REGISTER</a></button> -->
      </h1>
      <h3><i class="fa-solid fa-check"></i>To Do: Save Time, Plan Smarter</h3>
    </nav>
 </body>

 <main></main>
 <footer></footer>
 </html>


