<!DOCTYPE html>
<html lang="en">

<head>
  <title>Main User Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/homepage.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="nav">
      <h2>Smart To-Do List</h2>
      <h1>
        <button><a href="/login" class="nav-button">LOGOUT</a></button>
        <!-- <button><a href="/register" class="nav-button">REGISTER</a></button> -->
      </h1>
      <body>
        <header>
          <h2>Smart To-Do List</h2>
      <h3>To Do: Plan like a boss</h3>
          <nav class="nav">
        <!-- buttons for the nav bar -->
        <h1>
            <button><a href="" class="nav-button">HOME</a></button>
            <button><a href="" class="nav-button">PROFILE</a></button>
            <button><a href="" class="nav-button">TO READ</a></button>
            <button><a href="" class="nav-button">TO WATCH</a></button>
            <button><a href="" class="nav-button">TO EAT</a></button>
            <button><a href="" class="nav-button">TO BUY</a></button>
            <button><a href="" class="nav-button">MISCELLANEOUS</a></button>
            </h1>
          </nav>

          <main>
            <h1>Welcome to our website</h1>
            <form action="/submit" method="POST">
              <button class="login" type="submit">
                <a href="/login"></a></button>
              </form>

              <form action="/submit" method="POST">
                <button class="register" type="submit">
                  <a href="/register">REGISTER</a>
                </button>
              </form>
            </h1>

          <form action="/submit" class="nav-form" method="POST">
            <textarea placeholder="ENTER NEW TASK"></textarea>
            <button type="submit">ADD TO LIST</button>
          </form>

      <!-- button to make a new task subission -->

      </body>

      <main></main>

      <footer></footer>



      </html>







      <h3><i class="fa-solid fa-check"></i>To Do: Save Time, Plan Smarter</h3>
    </nav>
 </body>

 <main></main>
 <footer></footer>
 </html>
