
.title{
  margin-top: 180px;
  display: flex;
  justify-content: center;
  // margin-top: 120px;
}

#column-name{
  display: flex;
  // border: solid;
  width: 100vw;
  justify-content: space-around;
  padding-top: 20px;
}

#column-items{
  display: flex;
  // border: solid;
  width: 100vw;
  justify-content: space-around;
  padding-left: 35px;
  // padding-right: 25px;
}

#text-box{
  padding-left: 40px;
}


#button{
  padding-top: 20px;
  width: 100vw;
}
