/* Center all content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #BA68C8;
}
/* Center the profile image and margin at the top */
.col-md-4.border-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Style the profile image */
.rounded-circle {
    border: 4px solid #000000;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    display: block; 
    margin: 10px auto; 
}

/* Add some margin to the top of the image */
.mt-5 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Force username and email to stack */
.font-weight-bold, .text-black-50 {
    display: flex;
    justify-content: center;
    border: 2px soild #000000;
}

/* Style the input fields */
.form-control {
    border: 2px solid #BA68C8;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s;
    display: flex;
    justify-content: center;
}

.form-control:focus {
    display: flex;
    justify-content: center;
    border-color: #682773;
    outline: none;
}

.user-username {
    display: flex;
    padding: 3px;
}