header {
  background-color: rgb(84, 163, 150);
  // background-color: #FFFFCE;
  height: 645px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 120px;
  padding: 0 1.5em;
  top: 0;
  position: fixed;
}

#user-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}


#categoryForm {
  display: flex;
  flex-direction: row;
  border-color: #FFFFFF;
  border: solid;
  border-radius: 10px;
  padding: 2px 2px;
  background: #FFFFFF;
}

#submit-button,
#word {
  background: #FFFFFF;
  border: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#submit-button {
  cursor: pointer;
}

.spinner {
  animation: spinner 1s infinite linear;
  display: none;
}


#categoryForm.loading {
  #submit-button {
    display: none;
  }

  .spinner {
    display: block;
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.fa-solid {
  margin-top: 20px;
  margin-bottom: 10px;
}

img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
}
