.scrollable-content {
  flex: 1;
  /* Allow the content to take the remaining space */
  overflow: auto;
  /* Add a vertical scrollbar for overflow content */
  background-color: aliceblue;
  height: 200px;
}

/* Add some styles for the list items */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

table {
  top: 120px;
  position: fixed;
  width: 100vw;
  margin-left: 10px;
  margin-right: 10px;

  button {
    border: 0;
  }
}

thead {
  background-color: #FFFFCE;
  font-weight: bold;
  height: 100%;
}

.nav-button {
  color: black;
}

a {
  text-decoration: none;
}
body {
  background: rgb(163, 208, 219);

}