.scrollable-content {
  flex: 1;
  overflow: auto;
  // background-color: rgb(207, 233, 255);
  border: solid;
  height: 60vh;

}

ul {
  list-style-type: none;
  padding: 0;
}


table {
  top: 120px;
  position: fixed;
  width: 100vw;
  text-align: center;
}

thead {
  background-color: #FFFFCE;
  font-weight: bold;
  height: 100%;
}

// .nav-button {
//   color: black;
// }

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: rgb(163, 208, 219);
  background-image: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}
